@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<script>
    function validateForm() {

        var fileInput = document.querySelector('input[type="file"]');
        if (!fileInput.files[0]) {
            alert('Please select an image file.');
            return false;
        }
        return true;
    }
</script>
<div class="row">
    <div class="col-md-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" onsubmit="return validateForm()" >

                <h2>Create a new account.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="myform col-12 py-2">
                    <input asp-for="Input.Email" class="input" aria-required="true" placeholder="Email" />
                    <span asp-validation-for="Input.Email" class="input-border"></span>
                </div>
                <div class="myform col-12 py-2">
                    <input asp-for="Input.Password" class="input" aria-required="true" placeholder="Password" />
                    <span @*asp-validation-for="Input.Password"*@ class="input-border"></span>
                </div>
                <div class="myform col-6 py-2">
                    <input asp-for="Input.ConfirmPassword" class="input" aria-required="true" placeholder="Confirm Password" />
                    <span @*asp-validation-for="Input.ConfirmPassword"*@ class="input-border"></span>
                </div>

                <div class="myform col-6 py-2">
                    <input asp-for="Input.FirstName" class="input" aria-required="true" placeholder="FirstName" />
                    <span asp-validation-for="Input.FirstName" class="input-border"></span>
                </div>

                <div class="myform col-6 py-2">
                    <input asp-for="Input.LastName" class="input" aria-required="true" placeholder="LastName" />
                    <span asp-validation-for="Input.LastName" class="input-border"></span>
                </div>

                <div class="myform col-6 py-2">
                    <input asp-for="Input.City" class="input" aria-required="true" placeholder="City" />
                    <span asp-validation-for="Input.City" class="input-border"></span>
                </div>

                <div class="myform col-12 py-2">
                    <input asp-for="Input.PhoneNumber" class="input" aria-required="true" placeholder="Phone #" />
                    <span asp-validation-for="Input.PhoneNumber" class="input-border"></span>
                </div>
                <div class="myform col-12 py-2">
                <input asp-for="Input.ImageData" class="form-control" type="file" id="ImageData" />
                    <span @*asp-validation-for="Input.ImageData"*@ class="input-border"></span>
                </div>

                <button id="registerSubmit" type="submit" class="w-50 btn btn-lg btn-primary">Register</button>
                <hr />

            </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
