
@{
    ViewData["Title"] = "Search";
}
@model User

<!DOCTYPE html>
<html>
<head>
    <title>Search User</title>
	<link href="~/css/site.css" rel="stylesheet" />
</head>
<body>


    <section class="vh-500">
        <div class="container justify-content-center align-items-center">
            <h3>Search A User in the Database</h3>
            <form method="post" asp-action="SearchResult" class="row row-cols-lg-auto g-2 align-items-center">
                <div class="col-12">
                    <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
                    <div class="input-group">
                        <div class="input-group-text">-></div>
                        <input type="text"
                               class="form-control"
                               id="Id" name="userId"
                               placeholder="Username"
                               required />
                    </div>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
            @Html.ValidationSummary()
        </div>

    </section>
    <br />


    @if (Model != null)
    {
        <section class="vh-500" style="background-color: #f4f5f7;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-lg-6 mb-4 mb-lg-0">
                        <div class="card mb-3" style="border-radius: .5rem;">
                            <div class="row g-0">
                                <div class="col-md-4 gradient-custom text-center text-white"
                                     style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ImageData)"alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                               
                                        <h5>@Model.FirstName @Model.LastName</h5>
                                    <i class="far fa-edit mb-5"></i>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-4">
                                        <h6>Information</h6>
                                        <hr class="mt-0 mb-4">
                                        <div class="row pt-1">
                                            <div class="col-6 mb-3">
                                                <h6>Email</h6>
                                                <p class="text-muted">@Model.Email</p>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <h6>City</h6>
                                                <p class="text-muted">@Model.City</p>
                                            </div>
                                        </div>
                                        <div class="row pt-1">
                                            <div class="col-6 mb-3">
                                                <h6>Department</h6>
                                                <p class="text-muted">@Model.DepartmentId</p>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <h6>Created Date Time </h6>
                                                <p class="text-muted">@Model.CreatedDateTime</p>
                                            </div>
                                        </div>
                                        <h6>User ID</h6>
                                        <hr class="mt-0 mb-4">
                                        <p>@Model.Id</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>
</html>

